JWT_SECRET=ULaBYyT2n5GkeYZhb1NQcKAPjqzwP4Y1Lb7C1mLuXbE1k0ElfM5EFC7w2g9PA9O
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
UPLOADS_PATH="/uploads"
UPLOADS_URL="/uploads"
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_ADDRESS=